<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c{2}[%L] - %m%n" />
		</layout>
	</appender>

	<appender name="INFO" class="org.apache.log4j.RollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="File" value="logs/info.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c{2}[%L] - %m%n" />
		</layout>
	</appender>
	
	<appender name="STDOUT" class="org.apache.log4j.RollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="File" value="logs/stdout.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c{2}[%L] - %m%n" />
		</layout>
	</appender>
	
	<appender name="HTTP" class="org.apache.log4j.RollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="File" value="logs/http.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c{2}[%L] - %m%n" />
		</layout>
	</appender>

	<!--logger name="com.qt" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger  -->

	<logger name="INFO.com.qt" additivity="false">
		<level value="info" />
		<appender-ref ref="INFO" />
	</logger>
	
	<logger name="com.qt.core.util.HttpClientUtil" additivity="false">
		<level value="info" />
		<appender-ref ref="HTTP" />
	</logger>
	
	<logger name="com.qt" additivity="false">
		<level value="info" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
